* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 2rem;
  height: 2rem;
  background-color: red;
}
