* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.box1 {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-between;
}

.box2 {
  width: 100%;
  height: 50%;

  display: flex;
}

.color1,
.color2 {
  height: 100%;
  width: 50%;
}

.color1 {
  background-color: red;
}

.color2 {
  background-color: blue;
}
