* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.box1 {
  width: 100%;
  height: 50%;

  display: flex;
  align-items: stretch;
}

.color1 {
  background-color: red;
  flex-grow: 1;
}

.color2 {
  background-color: blue;
  flex-grow: 1;
}
